.productbox {
    background-color:#ffffff;
    padding:10px;
    margin-bottom:10px;
    -webkit-box-shadow: 0 8px 6px -6px  #999;
    -moz-box-shadow: 0 8px 6px -6px  #999;
    box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
    padding:5px 0 5px 0;
}

.productprice {
    border-top:1px solid #dadada;
    padding-top:5px;
}

.pricetext {
    font-weight:bold;
    font-size:1.4em;
}

#user_profile {
    color: #1E1E1E;
}
.navbar-nav>li>.dropdown-menu {
    background-color: #000;
    position: absolute;
    left: -30px;
}
.navbar-default .navbar-nav>.open>a {
    background-color: #000 !important;
}